/*
* single.php
*/
.post {
  &-info {
    display: flex;
    flex-direction: column;
  }

  &-date,
  &-category {
    margin-right: 15px;
  }
}

.post-thumbnail {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .post {
    &-info {
      flex-direction: row;
    }
  }
}
